<ol class="steps">
  <li class="step" [class.active]="i === selectedIndex" *ngFor="let step of steps; index as i">
    <div class="step-number">{{ i + 1 }}</div>
    <div class="step-labels">
      <span class="step-label-numeric">Step {{ i + 1 }}</span>
      <span class="step-label">{{ step.label }}</span>
    </div>
  </li>
</ol>

<div class="step-content">
  <ng-container *ngIf="isSubscribed$ | async; else selected!.content">
    <h1 class="g-typo-heading">Thank you!</h1>
    <p class="g-typo-body-l">
      Thanks for confirming your subscription! We hope you have fun using our platform. If you ever
      need support, please feel free to email us at support&#64;loremgaming.com.
    </p>
  </ng-container>
</div>
