@mixin mobile {
  @media (max-width: 1003px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1004px) {
    @content;
  }
}

$background-color: #EFF5FF;
$border-color: #D6D9E6;
$denim: #022959;
$gray: #9699AA;
$light-blue: #ABBCFF;
$light-gray: #D6D9E6;
$orange: #FFAF7E;
$pink: #F9818E;
$purple: #483EFF;
$error-color: #EE374A;
$sky-blue: #BEE2FD;
$very-light-gray: #F8F9FF;
$white: #FFFFFF;
