@use 'sass:map';
@use 'index' as *;

:host {
  display: block;
  border-radius: 10px;
  background: map.get($palette, 'white');
  box-shadow: 0 25px 40px -20px rgba(0, 0, 0, .1);
  padding: 32px 24px;

  @include mobile {
    margin: 100px 0 96px;
    max-width: 375px;
  }

  @include desktop {
    width: 940px;
    height: 600px;
    padding: 16px;
    border-radius: 15px;
  }
}

.credential-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include desktop {
    gap: 24px;
  }
}

.credential-input {
  width: 100%;
  padding: 0 16px;
  border: 1px solid map.get($palette, 'border');
  background: map.get($palette, 'white');

  // Typography
  color: map.get($palette, 'denim');
  font-weight: 500;
  font-size: 15px;

  height: 40px;
  margin-top: 4px;
  border-radius: 4px;

  @include desktop {
    // Typography
    font-size: 16px;

    height: 48px;
    margin-top: 8px;
    border-radius: 8px;
  }

  &:is(:hover, :focus-visible) {
    border-color: map.get($palette, 'purple');
    outline: none;
  }
}

.credential-input.ng-invalid.ng-touched,
.credential-form.ng-submitted .credential-input.ng-invalid {
  border-color: map.get($palette, 'error');
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &.lone {
    justify-content: flex-end;
  }

  @include mobile {
    background-color: map.get($palette, 'white');
    padding: 16px;
  }

  @include desktop {
    bottom: 16px;
  }
}

.label {
  display: flex;
  justify-content: space-between;
}

.error {
  color: map.get($palette, 'error');
  font-weight: 700;
}
