<app-stepper [linear]="true" #stepper>
  <!-- STEP 1 ********************************************************************************** -->
  <cdk-step label="Your Info" [stepControl]="credentialControls">
    <hgroup>
      <h1>Personal info</h1>
      <p>Please provide your name, email address, and phone number.</p>
    </hgroup>
    <form [formGroup]="credentialControls">
      <label>
        <span>Name</span>
        <input formControlName="name" placeholder="e.g. Stephen King">
      </label>
      <label>
        <span>Email Address</span>
        <input type="email" formControlName="email" placeholder="e.g. stephenking@lorem.com">
      </label>
      <label>
        <span>Phone Number</span>
        <input type="tel" formControlName="phone" placeholder="e.g. +1 234 567 890">
      </label>
    </form>
  </cdk-step>
  <!-- STEP 2 ********************************************************************************** -->
  <cdk-step label="Select Plan" [stepControl]="planControls">
    <hgroup>
      <h1>Select your plan</h1>
      <p>You have the option of monthly or yearly billing.</p>
    </hgroup>
    <form [formGroup]="planControls">
      <label *ngFor="let plan of plans">
        <input type="radio" [value]="plan" formControlName="plan">
        <ng-container [ngComponentOutlet]="plan.icon" />
        <div>
          <span>{{ plan.name }}</span>
          <span>{{ plan.price | price:isMonthlyBilling }}</span>
          <span *ngIf="!isMonthlyBilling">2 months free</span>
        </div>
      </label>
      <div>
        <button type="button" (click)="setBillingCycle(true)">Monthly</button>
        <input type="checkbox" formControlName="billingCycle">
        <button type="button" (click)="setBillingCycle(false)">Yearly</button>
      </div>
    </form>
  </cdk-step>
  <!-- STEP 3 ********************************************************************************** -->
  <cdk-step label="Add-Ons" optional>
    <hgroup>
      <h1>Pick add-ons</h1>
      <p>Add-ons help enhance your gaming experience.</p>
    </hgroup>
    <form>
      <label *ngFor="let addOn of addOns">
        <input type="checkbox" [checked]="addOn.selected" (change)="toggleAddOn(addOn)">
        <div>
          <span>{{ addOn.name }}</span>
          <span>{{ addOn.description }}</span>
        </div>
        <span>{{ addOn.price | price:isMonthlyBilling:PLUS }}</span>
      </label>
    </form>
  </cdk-step>
  <!-- STEP 4 ********************************************************************************** -->
  <cdk-step label="Summary">
    <hgroup>
      <h1>Finishing up</h1>
      <p>Double-check everything looks OK before confirming.</p>
    </hgroup>
    <div *ngIf="planControls.controls.plan.value as plan">
      <div>
        <span>{{ plan.name }} ({{ isMonthlyBilling ? 'Monthly' : 'Yearly' }})</span>
        <button type="button" (click)="stepper.selectedIndex = 1">Change</button>
      </div>
      <span>{{ plan.price | price:isMonthlyBilling }}</span>
    </div>
    <ng-container *ngIf="selectedAddOns.length">
      <hr>
      <div *ngFor="let addOn of selectedAddOns">
        <span>{{ addOn.name }}</span>
        <span>{{ addOn.price | price:isMonthlyBilling:PLUS }}</span>
      </div>
    </ng-container>
    <div class="total">
      <span>Total (per {{ isMonthlyBilling ? 'month' : 'year' }})</span>
      <span>{{ totalPrice | price:isMonthlyBilling }}</span>
    </div>
  </cdk-step>
</app-stepper>
