<app-heading [heading]="HEADING" [subheading]="SUBHEADING" />
<form class="credential-form" [formGroup]="credentialControls" #credentialForm="ngForm">
  <!-- Name Label ****************************************************************************** -->
  <label>
    <div class="label typo-body-m">
      <span>Name</span>
      <ng-container *ngIf="isRequired(credentialControls.controls.name)">
        <ng-container *ngTemplateOutlet="required" />
      </ng-container>
    </div>
    <input class="credential-input" formControlName="name" placeholder="e.g. Stephen King">
  </label>
  <!-- Email Label ***************************************************************************** -->
  <label>
    <div class="label typo-body-m">
      <span>Email Address</span>
      <ng-container *ngIf="isRequired(credentialControls.controls.email)">
        <ng-container *ngTemplateOutlet="required" />
      </ng-container>
      <ng-container *ngIf="isEmailInvalid(credentialControls.controls.email)">
        <span class="error">Invalid email</span>
      </ng-container>
    </div>
    <input class="credential-input" type="email" formControlName="email"
        placeholder="e.g. stephenking@lorem.com">
  </label>
  <!-- Phone Label ***************************************************************************** -->
  <label>
    <div class="label typo-body-m">
      <span>Phone Number</span>
      <ng-container *ngIf="isRequired(credentialControls.controls.phone)">
        <ng-container *ngTemplateOutlet="required" />
      </ng-container>
    </div>
    <input class="credential-input" type="tel" formControlName="phone"
        placeholder="e.g. +1 234 567 890">
  </label>
  <!-- Next Button ***************************************************************************** -->
  <div class="lone g-button-container">
    <app-next-button />
  </div>
</form>

<ng-template #required>
  <span class="error">This field is required</span>
</ng-template>
