@use 'sass:map';
@use 'index' as *;

:host {
  display: block;
}

.credential-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include desktop {
    gap: 24px;
  }
}

.credential-input {
  width: 100%;
  padding: 0 16px;
  border: 1px solid map.get($palette, 'border');
  background: map.get($palette, 'white');

  // Typography
  color: map.get($palette, 'denim');
  font-weight: 500;
  font-size: 15px;

  height: 40px;
  margin-top: 4px;
  border-radius: 4px;

  @include desktop {
    // Typography
    font-size: 16px;

    height: 48px;
    margin-top: 8px;
    border-radius: 8px;
  }

  &:is(:hover, :focus-visible) {
    border-color: map.get($palette, 'purple');
    outline: none;
  }
}

.credential-input.ng-invalid.ng-touched,
.credential-form.ng-submitted .credential-input.ng-invalid {
  border-color: map.get($palette, 'error');
}

.label {
  display: flex;
  justify-content: space-between;
}

.error {
  color: map.get($palette, 'error');
  font-weight: 700;
}

.lone {
  justify-content: flex-end;
}
